.git
.gitignore
.gitattributes
.docker
.vscode
.idea
node_modules
*.md
*.txt
*.log
.DS_Store
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
*.log
.DS_Store
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
.phpunit.cache
bootstrap/cache/*.php
storage/*.key
.env.*.local
npm-debug.log
yarn-error.log
/public/hot
/public/storage
/public/vendor
/public/build
/resources/js/
/resources/css/
/resources/views/
/tests/
/coverage/
/.fleet
/.idea
/.vscode
*.sublime-*
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
.phpunit.cache
